/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */.cardSlider {
  height: 100vh;
  width: 100vw;
  background-color: #2B2D42;
}

#title {
  font-size: 2rem;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: .6rem;
  line-height: 3;
  color: #ffffff;
  text-align: center;
  z-index: 2;
  border-top: 2px solid rgb(187, 171, 67);
  border-bottom: 2px solid rgb(187, 171, 67);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 100%;
  border: 2px solid black;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%; /* Ensure the height is adequate for the cards */
  width: 100%;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on mobile */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for cleaner look */
}

.card {
  flex: 0 0 auto;
  height: 95%;
  width: 25%;
  background-color: rgba(43, 45, 46, 0.5);
  backdrop-filter: blur(4px);
  box-shadow: none;
  border-radius: 10px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Ensure text color is visible */
  font-family: monospace;
  font-size: 1.2rem; /* Adjust font size */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .card {
    width: 30%; /* Adjust width for medium screens */
  }
}

@media (max-width: 992px) {
  .card {
    width: 40%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 768px) {
  .card {
    width: 50%; /* Adjust width for tablets */
  }
}

@media (max-width: 576px) {
  .card {
    width: 70%; /* Adjust width for small devices */
  }
}

@media (max-width: 400px) {
  .card {
    width: 90%; /* Adjust width for very small devices */
  }
}


.hero {
    height: 100vh;
    width: 100vw;
    background-color: #2B2D42;
    background-image: url('/cocktails.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#title-div {
    background-color: rgba(43, 45, 46, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1;
    width: 80%;
    max-width: 1800px;
    margin: 49px auto;
}

.layer1 {
    background-color: rgba(187, 171, 67, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1;
    width: 95%;

}

#title {
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: .6rem;
    line-height: 3;
    color: #ffffff;
    text-align: center;
    z-index: 2;
    border-top: 2px solid rgb(187, 171, 67);
    border-bottom: 2px solid rgb(187, 171, 67);
}

.bodyCard {
    background-color: rgba(43, 45, 46, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1;
    height: 50vh;
    width: 80%;
    max-width: 1800px;
    margin: 70px auto;

}

.layer2 {
    background-color: rgba(187, 171, 67, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    z-index: 1;
    height: 90%;
    width: 95%;
}

.intro {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: .2rem;
    line-height: 3;
    color: #ffffff;
    text-align: center;
    border-top: 2px solid rgb(187, 171, 67);
    border-bottom: 2px solid rgb(187, 171, 67);
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 768px) {
    #title {
        font-size: large;
        letter-spacing: 0.5px;
    }

    .intro {
        font-size: 1rem;
        line-height: 1.5;
    }

    .bodyCard {
        width: 90%;
        padding: 10px;
    }

    #title-div {
        width: 90%;
    }
}